*.log
vendor/*
composer.lock
HOSTNAME
tmp
.DS_Store
.phpintel
.vscode/
composer.json
app/controllers/CheckController.php
app/settings/*.php
!app/settings/default.php
app/settings/pgsql/*.php
!app/settings/pgsql/default.php