*.log
app/settings/debian.php
app/settings/debian8.php
vendor/*
composer.lock
HOSTNAME
tmp
.DS_Store
.DS_Store
.phpintel
composer.json
db/records/db_hosts_debian8.csv
script/upload_git_kona
app/controllers/CheckController.php
app/settings/pgsql/debian8.php
app/settings/pgsql/kona.php
app/settings/kona.telepath.php
db/db_info/db_hosts_debian8.csv
db/db_info/db_hosts_kona.csv
app/settings/kona.php
