$menu-background:rgba(23, 46, 60, 0.95);
$menu-border:rgba(23, 46, 60, 1.0);
$menu-color:rgba(255, 255, 255, 1.0);
$card-color:rgba(255, 255, 255, 1.0);
$active: rgba(240, 50, 20, 0.95);
$table-background:rgba(23, 46, 60, 0.95);
$btn-color:rgba(23, 46, 60, 1.0);
$btn-hover-color:rgba(200, 200, 200, 0.95);
$btn-secondary-color:rgba(255, 255, 255, 1.0);
$btn-secondary-hover-color:rgba(230, 230, 210, 0.95);
$sortable-selected:rgba(200, 220, 230, 0.95);
$indicator-color:rgba(255, 255, 255, 0.3);
$calendar-background-color:rgba(255, 255, 255, 0.98);
$calendar-hover-color:rgba(240, 250, 240, 1.00);
$calendar-hover-font-color:rgba(255, 255, 255, 1.0);