/* TODO sass */
body,
table
 {
	font-size: 0.8rem;
}

/* TODO sass */
input[type=text],
input[type=password],
input[type=select],
input[type=submit]
{
	font-size: 0.8rem;
}

/* TODO sass */
.form-control {
	font-size: 0.8rem;
}

/* TODO sass */
.btn {
	font-size: 0.8rem;
	padding: 0.5rem 0.8rem;
}

h1 {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.2rem;
}

h3,h4,h5 {
	font-size: 1.0rem;
}

#log-window {
	display: none;
	position: absolute;

	background: rgba(255, 255, 255, 0.8);
	font-size: 0.8rem;
}

#log-contents {
	overflow: scroll;
	max-height: 40rem;
}

#indicator {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	text-align: center;
}

#indicator img {
	margin-top: 10rem;
}

.overflow-list {
	overflow-y: auto;
	max-height: 30rem;
}

#main {
	/*margin-top: 5rem;*/
}

.php_error {
	position: absolute !important;
	left: 5rem !important;
	top: 5rem !important;
	z-index: 100000;
}