#log-window {
	display: none;
	position: absolute;

	background: rgba(255, 255, 255, 0.8);
	font-size: 0.8rem;
}

#log-contents {
	overflow: scroll;
	max-height: 40rem;
}

#indicator {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 100%;
	text-align: center;
}

#indicator img {
	margin-top: 10rem;
}

.overflow-list {
	overflow-y: auto;
	max-height: 30rem;
}

#main {
	margin-top: 5rem;
}

.php_error {
	position: absolute !important;
	left: 5rem !important;
	top: 5rem !important;
	z-index: 100000;
}