@charset "UTF-8";
body {
  margin-top: 60px;
  font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
}

body,
table {
  font-size: 0.8rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  font-size: 0.8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  padding: 8px 0;
  font-size: 1rem;
}

.container-fluid {
  padding: 0;
}

.form-control {
  display: inline;
  width: auto;
  padding: .3rem .5rem;
  line-height: 1;
  font-size: 0.8rem;
}

textarea.form-control {
  padding: 0.5rem;
}

select.form-control:not([size]):not([multiple]) {
  height: 2rem;
}

#main {
  padding-right: 2rem;
}

.form-group {
  margin: 0;
}

.col-12 {
  width: 100%;
}

.table.max {
  width: 100%;
}

.table {
  /*width: auto;*/
  border: 1px solid #eceeef;
  margin-top: 3px;
  margin-bottom: 3px;
}

.table.table-form {
  table-layout: fixed;
}

.table.table-auto {
  width: auto;
}

.table td,
.table th {
  padding: 0.5rem 0.8rem;
  vertical-align: middle;
}

.table td {
  border-bottom: 1px solid #eceeef;
}

.table th {
  color: #ffffff;
  background-image: none;
  background-color: rgba(23, 46, 60, 0.95);
  border: 1px solid #172e3c;
}

.table thead th {
  border: 1px solid #172e3c;
}

.table-list {
  width: auto;
}

.sortable-selected {
  background-color: rgba(200, 220, 230, 0.95);
}

a {
  color: #0088cc;
  text-decoration: none;
}

a .fa {
  width: 22px;
  text-align: center;
  cursor: pointer;
}

.btn .fa {
  width: 12px;
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background: #172e3c;
  border-color: rgba(240, 50, 20, 0.95);
}

.btn {
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0.1rem;
}

.btn-sm {
  font-size: 0.7rem;
}

.btn-primary {
  background: #172e3c;
  border-color: #172e3c;
}

.btn-outline-primary {
  color: #172e3c;
  border-color: #172e3c;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background: rgba(200, 200, 200, 0.95);
  border-color: rgba(200, 200, 200, 0.95);
}

.btn-danger {
  color: white !important;
}

.btn-secondary {
  color: white;
  background: #172e3c;
}

.btn-secondary:hover {
  color: rgba(230, 230, 210, 0.95);
  background: rgba(200, 200, 200, 0.95);
}

#log-window {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
}

#log-contents {
  overflow: scroll;
  max-height: 40rem;
}

#indicator {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
}

#indicator img {
  margin-top: 10rem;
}

.number {
  text-align: right;
}

.update-sortable,
.close-sortable {
  display: none;
}

.ui-datepicker {
  width: 22em;
  padding: .5em .5em 0;
  background: rgba(255, 255, 255, 0.98);
  display: none;
}

.ui-datepicker-trigger {
  cursor: pointer;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  display: inline;
  width: auto;
  padding: .3rem .5rem;
  line-height: 1;
  font-size: 0.8rem;
  color: #464a4c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background: none;
  font-weight: bold;
  color: #1c94c4;
}

.ui-datepicker td {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem;
  vertical-align: middle;
}

.ui-datepicker td:hover {
  background: #f0faf0;
}

/* login */
.card {
  background-color: white;
}

.card-header,
.card-footer {
  padding: 5px 15px;
}

.card-block {
  padding: 6px;
}

.side-fix-menu {
  top: 2%;
  left: 0%;
  position: fixed;
}
/*# sourceMappingURL=default.css.map */