### access
Options -Indexes
DirectoryIndex index.html index.php dispatch.php

### rerwite
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ dispatch.php?$1 [QSA,L]
</IfModule>

### basic auth
#AuthUserFile    /home/sites/domain/.htpasswd
#AuthGroupFile   /dev/null
#AuthName        "Please Enter Your Password"
#AuthType        Basic
#require valid-user

### basic auth limit
#Satisfy any
#order deny,allow
#allow from 127.0.0.1 192.168.
#deny from all